* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), #000),
    url("../img/3188416.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.container-inicial {
  max-width: 1025px;
  margin: 0 auto;
  padding: 10px;
}

.container-inicial h1,
.container-inicial h4 {
  text-align: center;
}

.container-inicial h1 {
  font-size: 5em;
  margin-bottom: 0.8em;
}

.container-inicial h4 {
  font-size: 1.2em;
  color: aqua;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-content: center;
  justify-items: center;
  color: aqua;
  margin-top: 3em;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .conteudo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .conteudo {
    grid-template-columns: repeat(1, 1fr);
  }
}

.quiz {
  width: 200px;
  text-align: center;
  padding: 1.2em 0;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.quiz:hover {
  scale: 1.1;
}

.quiz h2 {
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 0.8em;
  color: #fff;
}

.quiz p {
  font: 0.5em;
  margin-bottom: 0.8em;
}

/*   Estilização das questões*/

.bg-quiz {
  background-color: rgb(231, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
}

.cor-green {
  background-color: green;
}

.cor-red {
  background-color: red;
}

.respostaSelecionada {
  margin-left: 30px;
}

#organizar {
  display: flex;
  margin: 30px;
  font-size: 1.5em;
}

.fechar {
  display: none;
}

.finalizar {
  display: inline-block;
}

/*   questoes   */

.pergunta-questoes {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 968px;
  height: 500px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .pergunta-questoes {
    flex-direction: column;
  }
  .pergunta {
    height: 400px;
  }
}

.pergunta {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: #700bce;
  height: inherit;
  border-radius: 20px;
  transform: translateY(-80px);
  position: relative;
}

.pergunta::before {
  content: "";
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  background-color: #e034e0;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  top: -100px;
  left: -100px;
}
.pergunta::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  background-color: #e034e0;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
  bottom: 100px;
  right: -40px;
}

.questoes-quiz label {
  background: linear-gradient(90deg, rgb(6, 224, 224), rgb(4, 170, 170));
  padding: 10px 0 10px 50px;
  width: 450px;
  border-radius: 0 30px 30px 0;
  position: relative;
  font-size: 0.8em;
}

.questoes-quiz label:hover {
  background: linear-gradient(90deg, rgb(4, 170, 170), rgb(6, 244, 244));
}

.questoes-quiz label::before {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -20px;
  top: -5px;
  box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.questoes-quiz input {
  position: relative;
  z-index: 2;
  transform: translateX(41.5px);
}

#form {
  position: relative;
}

.bg-quiz button {
  padding: 10px 20px;
  border-radius: 20px;
  position: absolute;
  bottom: -80px;
  left: 215px;
  box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s;
}
.bg-quiz button:hover {
  background-color: #e034e0;
  color: #fff;
}

@media (max-width: 1000px) {
  .pergunta-questoes {
    flex-direction: column;
  }
  .pergunta {
    height: 600px;
  }

  .pergunta::before {
    content: "";
    display: block;
    position: absolute;
    top: -150px;
    left: -160px;
  }

  .questoes-quiz {
    padding-bottom: 10px;
  }

  .bg-quiz button {
    transform: translateY(-17px) translateX(200px);
  }
}

/*   Tela de finalização   */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  gap: 5em;
  font-size: 1.2em;
  background: linear-gradient( rgba(0,0,0,.5),#434343) ;
  border-radius: 15px;
}

.resumo-geral{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.resumo-geral img {
  width: 130px;
  margin-bottom: 1.5em;
}

.resumo-geral p {
  margin-bottom: 1.5em;
}

.resumo-geral button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, rgb(6, 224, 224), rgb(4, 170, 170));
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
  transition: .3s;
}

.resumo-geral button:hover {
  background: linear-gradient(90deg, rgb(4, 170, 170),rgb(6, 224, 224));
  scale: 1.05;
}


.respostas-erradas {
  text-align: center;
  max-height: 300px;
  overflow-y: scroll;
  padding: 15px;
  margin: 0 auto;
}
.respostas-erradas::-webkit-scrollbar {
  width: 4px;
  
}
.respostas-erradas::-webkit-scrollbar-track {
  background: linear-gradient( rgb(6, 224, 224), rgb(4, 170, 170));
  border-radius: 20px;
}
.respostas-erradas::-webkit-scrollbar-thumb {
  background-color: #1c0235;
  border-radius: 20px;

}

.respostas-erradas h2{
  padding-bottom: 1.2em;
}

.respostas-erradas dd {
  padding: 0.5em 0 1.2em 0;
}
